@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: thin;
  scrollbar-color: #136972 #101d22;
}

:root {
  --background: #e6f3f5;
  --foreground: #0a3d42;
  --muted: #101d22;
  --muted-foreground: #136972;
  --card: #101d22a7;
  --card-foreground: 222.2 47.4% 11.2%;
  --border: #101d22;
  --destructive: #95180d;
  --destructive-foreground: rgb(190, 30, 15);
}

.dark {
  --background: #020e10;
  --foreground: #d0d9d6;
  --muted: #101d22;
  --muted-foreground: #178692;
  --card: rgba(16, 29, 34, 0.4);
  --card-foreground: 222.2 47.4% 11.2%;
  --border: #101d22;
  --destructive: #39070296;
  --destructive-foreground: hsl(5, 85%, 40%);
  --warning: 41 91% 46%;
  --warning-foreground: hsl(5, 85%, 40%);
}

.expanded-content {
  background-color: var(--muted) !important;
}
.expanded-content:hover {
  background-color: var(--muted) !important;
}

.expanded-content td:hover {
  background-color: var(--muted) !important;
}
