@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e6f3f5;
  --foreground: #0a3d42;
}

.dark {
  --background: #020e10;
  --foreground: #d0d9d6;
}

.expanded-content:hover {
  background-color: transparent !important;
}

.expanded-content td:hover {
  background-color: transparent !important;
}
